<div>
    <div class='d-flex align-items-center pl-4 pr-4 border-bottom position-relative view-header-wrapper' style='height: 70px;'>
        <div>
            <h4 class='mb-0 font-weight-bold'>Overview</h4>
        </div>
    </div>
    <div *ngIf='!gettingCities; else isLoading'>
        <div *ngIf='cities.length > 0; else isEmpty;'>
            <input placeholder="Search city..." autocomplete="off" class='animation border-bottom search-cities-wrapper' [(ngModel)]="citySearchInput">
            <div class='list-cities'>
                <div *ngFor='let city of cities | filterByKey : citySearchInput : "name"' class='city-container shadow-sm'>
                    <div class='city-container-header border-bottom'>
                        <div class='d-flex align-items-center' style='flex: 1;'>
                            <h5 class='mb-0 font-weight-bold'>{{city.name}}</h5>
                        </div>
                    </div>
                    <div class='city-container-body'>
                        <div *ngIf='!gettingDates; else ordersIsLoading'>
                            <div>
                                <div class='d-flex align-items-center table-header-row' >
                                    <div class='mr-2 pr-2 border-right ellipsis' style='flex: 2'>
                                        <h6 class='mb-0 column-header-label ellipsis'>Date</h6>
                                    </div>
                                    <div class='mr-2 pr-2 border-right ellipsis' style='flex: 2'>
                                        <h6 class='mb-0 column-header-label ellipsis'>Day of the week</h6>
                                    </div>
                                    <div class='mr-2 pr-2 border-right ellipsis' style='flex: 1'>
                                        <h6 class='mb-0 column-header-label ellipsis'>Used capacity %</h6>
                                    </div>
                                    <div class='ellipsis' style='flex: 1'>
                                        <h6 class='mb-0 column-header-label ellipsis'>Orders</h6>
                                    </div>
                                </div>
                                <div>
                                    <div *ngFor='let date of dates' class='d-flex align-items-center date-item border-bottom'>
                                        <div class='mr-2 pr-2 border-right ellipsis' style='flex: 2'>
                                            <h6 class='mb-0'>{{date.date}}</h6>
                                        </div>
                                        <div class='mr-2 pr-2 border-right ellipsis' style='flex: 2'>
                                            <h6 class='mb-0 column-header-label ellipsis'>{{date.day_name}}</h6>
                                        </div>
                                        <div class='mr-2 pr-2 border-right ellipsis' style='flex: 1'>
                                            <h6 *ngIf='date.orders_summary[city.id]; else itemColumnIsLoading' class='mb-0'>{{date.orders_summary[city.id]?.used_capacity}} %</h6>
                                        </div>
                                        <div class='ellipsis' style='flex: 1'>
                                            <h6 *ngIf='date.orders_summary[city.id]; else itemColumnIsLoading' class='mb-0'>{{date.orders_summary[city.id]?.orders}}<sapn style='color: grey;'> / {{date.orders_summary[city.id]?.total_capacity}}</sapn></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #isLoading>
        <div class='spinner d-flex align-items-center justify-content-center' style='height: calc(100vh - 70px);'>
            <mat-progress-spinner mode="indeterminate" diameter='30' strokeWidth='4'></mat-progress-spinner>
        </div>
    </ng-template>
    <ng-template #isEmpty>
        <div class='w-100 d-flex align-items-center justify-content-center' style='height: calc(100vh - 70px);'>
            <h5 class='font-weight-bold mb-0' style='color: grey;'><fa-icon icon='folder-open' class='mr-2'></fa-icon>Cities list is empty</h5>
        </div>
    </ng-template>
    <ng-template #ordersIsLoading>
        <div class='spinner d-flex align-items-center justify-content-center'>
            <mat-progress-spinner mode="indeterminate" diameter='24' strokeWidth='4'></mat-progress-spinner>
        </div>
    </ng-template>
    <ng-template #ordersIsEmpty>
        <div class='w-100 d-flex align-items-center justify-content-center'>
            <h6 class='font-weight-bold mb-0' style='color: grey;'><fa-icon icon='folder-open' class='mr-2'></fa-icon>Orders list is empty</h6>
        </div>
    </ng-template>
    <ng-template #itemColumnIsLoading>
        <div class='spinner'>
            <mat-progress-spinner mode="indeterminate" diameter='14' strokeWidth='2'></mat-progress-spinner>
        </div>
    </ng-template>
</div>
