/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.animation {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

// ELLIPSIS
.ellipsis {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
// 

.mat-dialog-container {
    padding: 0px !important;
}
.mat-checkbox label {
    margin-bottom: 0px !important;
}

.mat-snack-bar-container {
    background: #343a40;
}

.mat-progress-spinner circle {
    stroke: black;
}
